main {
  min-height: 100vh;
}

article{
  width: 80%;
  overflow: hidden;
}

h1 {
  width: 11ch;
  animation: slide 10s infinite normal linear;
}

@keyframes slide {
   from{
    transform: translateX(-100%);
  }

  to{
    transform: translateX(175%);
  }
}

@media all and (min-width:768px){
  article{
    width: 50%;
  }
  @keyframes slide {
    from {
      transform: translateX(-105%);
    }

    to {
      transform: translateX(190%);
    }
  }
}

@media all and (min-width:992px){
  article{
    width: 25%;
  }
  @keyframes slide {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(140%);
    }
  }
}